<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>책 반납 일정 안내</title>
</head>
<table style="margin:0 auto;width:650px; color:#000000; padding: 12px;font-family:'Noto Sans','Noto Sans KR','sans-serif';font-size:14px">
    <tr><td><img width="200px" alt="MOBOOK1.0" src="https://i.ibb.co/rkmQr6f/MOBOOK.png"></td></tr>
    <tr><td style="font-size:40px"><b>책 추가 안내</b></td></tr>
    <tr style="height:12px"></tr>
    <tr><td>아래의 책이 추가되었습니다.</td></tr>
    <tr style="height:12px"></tr>
    <tr>
        <td style="padding:15px 20px;border-radius:10px;background-color:#f2f2f2">
            <table>
                <tr style="font-weight:bold;">
                    <td width="20%">책 번호</td>
                    <td width="20%">책 제목</td>
                    <td width="20%">대여일</td>
                    <td width="20%">반납일</td>
                    <td width="20%">현재 상태</td>
                </tr>
                <div th:each="bookLog: ${bookLogList}">
                    <tr>
                        <td th:text="${bookLog.book.bookNumber}"></td>
                        <td th:text="${bookLog.book.bookName}"></td>
                        <td th:text="${bookLog.regDate}"></td>
                        <td th:text="${bookLog.returnDate}"></td>
                        <td th:text="${bookLog.status}"></td>
                    </tr>
                </div>
            </table>
        </td>
    </tr>
    <tr style="height:12px"></tr>
    <tr style="height:12px"></tr>
    <tr><td><a style="text-decoration: none"><span style="border-radius:8px;background-color:#566AE5;padding:14px;vertical-align:middle;font-size:16px;font-weight:bold; color: #FFFFFF">책 반납하러가기</span></a></td></tr>
    <tr style="height:12px"><td></td></tr>
    <tr><td><hr style="background-color: #F4F4F4;height: 1px;border: none;"></td></tr>
    <tr style="height:12px"><td></td></tr>
    <tr><td><img width="100px" alt="BoundX" src="https://i.ibb.co/rkmQr6f/MOBOOK.png"></td></tr>
    <tr style="height: 12px"><td></td></tr>
    <tr><td style="font-size: 12px">문의 및 지원: joohwan9607@mobility42.io</td></tr>
</table>
</html>