<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>새로운 비밀번호 안내</title>
</head>
<table style="margin:0 auto;width:650px; color:#000000; padding: 12px;font-family:'Noto Sans','Noto Sans KR','sans-serif';font-size:14px">
    <tr><td><img width="200px" alt="MOBOOK1.0" src="https://i.ibb.co/rkmQr6f/MOBOOK.png"></td></tr>
    <tr><td style="font-size:40px"><b>새로운 비밀번호 안내</b></td></tr>
    <tr style="height:12px"></tr>
    <tr><td>새로운 비밀번호가 설정되었습니다.</td></tr>
    <tr style="height:12px"></tr>
    <tr style="font-weight: bold; color: red"><td>로그인 후 반드시 비밀번호를 변경해주세요.</td></tr>
    <tr style="height:12px"></tr>
    <tr>
        <td style="padding:15px 20px;border-radius:10px;background-color:#f2f2f2">
            <table>
                <tr style="font-weight:bold;">
                    <td width="100%">새로운 비밀번호</td>
                </tr>
                <tr>
                    <td style="font-size:30px;font-weight:bold" th:text="${newPassword}">newPassword</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr style="height:12px"></tr>
    <tr style="height:12px"></tr>
    <tr><td>
        <a style="text-decoration: none">
            <span style="border-radius:8px;background-color:#566AE5;padding:14px;vertical-align:middle;font-size:16px;font-weight:bold; color: #FFFFFF">로그인 하러가기</span>
        </a>
    </td></tr>
    <tr style="height:12px"><td></td></tr>
    <tr><td><hr style="background-color: #F4F4F4;height: 1px;border: none;"></td></tr>
    <tr style="height:12px"><td></td></tr>
    <tr><td><img width="100px" alt="BoundX" src="https://i.ibb.co/rkmQr6f/MOBOOK.png"></td></tr>
    <tr style="height: 12px"><td></td></tr>
    <tr><td style="font-size: 12px">문의 및 지원: joohwan9607@mobility42.io</td></tr>
</table>
</html>